.appWrapper {
    max-width: 1280px;

    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    margin: 0 auto;
    border: 1px solid black;
}

.headerWrapper {
    height: 72px;
    background-color: beige;
}

.mainContent {
    display: flex;
    min-height: 500px;
}

.RoutsListWrapper {
    background-color: Lightgrey;
    width: 440px;
    max-height: 500px;
    display: inline-block;
    overflow-x: hidden;
}

.mapWrapper {
    background-color: darkseagreen;
    flex-grow: 1;
}

.routItemWrap{
    border: 1px solid cadetblue;
    min-height: 120px;
}